
@media ( max-width:2000px){
    .about-room-facility {
        padding-top: 80px;
    }
    #inner-banner .storage-room-content .wether-block .wether-info-content {
        width: 400px;
    }
    .storage-room-content {
        padding-top: 3rem;
    }
}
@media ( max-width:1800px){
.about-room-facility {
    padding-top: 40px;
}
.storage-room-content {
    padding-top: 2.2rem;
}
}

@media ( max-width:1600px){
    .about-room-facility {
        padding-top: 10px;
    }
    #inner-banner .storage-room-content .wether-block .wether-info-content {
        width: 360px;
    }
    .storage-room-content {
        padding-top: 2rem;
    }
    .about-room-facility {
        padding-top: 20px;
    }
}

@media ( max-width:1500px){
    #inner-banner .storage-room-content .wether-block .wether-info-content {
        width: 300px;
    }

}

@media ( max-width:1440px){
.storage-room-content {
    padding-top: 1rem;
}
.facility-page-banner-content {
    left: 12% !important;
}
#inner-banner .storage-room-content .wether-block .wether-info-content {
    width: 280px;
}
.how-storage-text {

    width: 45%;
}
}

@media ( max-width:1366px){
.storage-room-content {
    padding-top: 0rem;
}
.facility-page-banner-content {
    left: 10% !important;
}
#inner-banner .storage-room-content .storage-timings {
    padding-top: 2.5rem;
}
.choose-right-space .choose-right-space-txt {
    width: 50%;
}
.pay-bill-list ul li {
    width: 40%;
    float: left;
	margin: 10px 30px;
	display: inline-table;
}
}


@media ( max-width:1280px){
.storage-room-content {
    padding-top: 0rem;
}
.facility-page-banner-content {
    left: 7% !important;
}
#inner-banner .storage-room-content .storage-timings {
    padding-top: 2rem;
}
.about-room-facility {
    padding-top: 0px;
}
.how-storage-text {
    width: 55%;
}
.choose-right-space .choose-right-space-txt {
    width: 60%;
}
}

@media ( max-width:1200px){

.facility-page-banner-content {
    left: 3% !important;
}

}
@media ( max-width:1160px){
.storage-room-content { width:100%; float:none;}
#inner-banner .facility-page-banner-content p{ color:#333;}
.facility-space {
    margin-top: 30rem;
}
#inner-banner .storage-room-content .storage-timings {
    padding-top: 1rem;
}
#header .container-fluid-padding{ padding: 0px;}
}

@media ( max-width:1140px){
#inner-banner .inner-banner-content h2 { 
	font-size:36px;
}

.facility-space {
    margin-top: 32rem;
}
#inner-banner .storage-room-content .wether-block {
    padding-top: 2rem;
}

.table-responsive { overflow:auto;}
.table-responsive table { width:1160px; }
.how-storage-text {
    width: 65%;
}
} 


@media ( max-width:960px){
#inner-banner .inner-banner-content h2,  { 
	font-size:28px;
}
#intro .intro-content p, #inner-banner .inner-banner-content p {
    font-size: 18px;
}
.h2, h2 {
    font-size: 1.6rem;
}

#call-to-action .cta-title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

#intro .find-storage {
    width: 85%;
    margin: 0% auto !important;
}

.how-storage-text {
    width: 75%;
}
#inner-banner .find-storage{
width: 90%;
margin-top: 2rem;
}

.est-sizes { width:100%; float:none;}
#inner-banner .storage-room-content .wether-block .wether-info-content {
    font-size: 14px;
}
.choose-right-space .storage-data-info {
    width: 100%;
    margin: 0px auto;
}
}

@media ( max-width:850px){
.pb-5 {
    padding-bottom: 1.5rem!important;
}
.facility-space {
    margin-top: 38rem;
}
#inner-banner .storage-room-content .wether-block p{ margin-bottom:1rem !important;}
#inner-banner .storage-room-content .wether-block .wether-info-content {
   padding: 17px 40px;
}
#nav-menu-container .nav-menu a { padding: 10px 5px; }
.how-storage-text {
    width: 90%; margin-top: -20px;
}
.choose-right-space .choose-right-space-txt {
    width: 70%;
}
}

@media ( max-width:760px){
.facility-page-banner-content {
   left: 15% !important;
}
.facility-space {
    margin-top: 42rem;
}
.img-how-storage-works {
    height: 550px;
}
.storage-size .nav-tabs .nav-link {
    border-bottom: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 12px;
    padding: 5px 10px;
}
#inner-banner .find-storage {
     padding: 40px 10px;
}
}


@media ( max-width:720px){
#inner-banner .inner-banner-content h2 { 
	font-size:24px;
}
#intro .intro-content h2, .section-header h2 {
    font-size: 24px;
}
#intro .intro-content p, #inner-banner .inner-banner-content p {
    font-size: 20px;
}
#inner-banner {
    height: 48vh;
}
.h2, h2 {
    font-size: 1.5rem;
}
.inner-banner-cls { background:none !important;}
.about-room-facility {
    padding-top: 60px;
}
#inner-banner .about-room-facility h5 {
    color: #333;
    font-size: 21px;
}
.facility-space {
    margin-top: 33rem;
}
.container-fluid-padding {
	padding: 0px 3%;
}
.img-how-storage-works {
    height: 100%;
}
.how-storage-text { position: relative; color: #333; padding-top: 20px; width: 80% ; margin: 0px auto;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{     border-bottom: 1px solid #005f26 !important;}
#inner-banner .inner-banner-content {
    
    bottom: auto;
    top: 40px;
}
}

@media ( max-width:650px){
.pay-bill-list ul li {
    width: 80%;
}
}

@media ( max-width:540px){
#inner-banner .inner-banner-content h2 { 
	font-size:20px;
}
#intro .intro-content h2, .section-header h2 {
    font-size: 20px;
}
#intro .intro-content p, #inner-banner .inner-banner-content p {
    font-size: 14px;
}
.facility-space {
    margin-top: 35rem;
}

.h2, h2 {
    font-size: 1.4rem;
}
#inner-banner .storage-room-content .wether-block .wether-info-content {
   padding: 17px 20px;
}
.about-room-facility {
    padding-top: 20px;
}

.storage-size .nav-tabs .nav-link { 
    font-size: 10px;
    padding: 5px 0px;
}

}



@media ( max-width:400px){
#inner-banner .storage-room-content .wether-block .wether-info-content {
    padding: 20px 10px;
    font-size: 12px;
}
.facility-space {
    margin-top: 38rem;
}
.facility-page-banner-content {
    left: 5% !important;
}
#intro .intro-content h2, .section-header h2 {
    font-size: 18px;
}
#intro .intro-content p, #inner-banner .inner-banner-content p {
    font-size: 12px;
}
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}



